@import "utils/lengths";
@import "utils/color";

@mixin anim($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin underline($start: 50%, $base-color: rgba(255, 255, 0, 240), $start_alpha: 0.9, $end_alpha: 0.4) {
  background: linear-gradient(
    transparent $start - 10%,
    rgba($base-color, $end_alpha) $start,
    rgba($base-color, $start_alpha));

  text-decoration: none !important;
}

@mixin mobile {
  @media #{map-get($breakpoints, mobile)} {
    @content;
  }
}

@mixin desktop {
  @media #{map-get($breakpoints, desktop)} {
    @content;
  }
}

@mixin animated-underline($style: solid 2px #f00, $anim: all 200ms ease) {
  display: block;
  padding: 0 0 5px;
  text-decoration: none;

  &::after {
    border-bottom: $style;
    bottom: 0;
    content: "";
    display: block;
    transition: $anim;
    width: 0;
  }

  &:hover::after {
    width: 100%;
  }
}

@mixin colored-underline($style: solid 2px #f00) {
  display: block;
  padding: 0 0 5px;
  text-decoration: none;

  &::after {
    border-bottom: $style;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
  }
}

div.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($WHITE_COLOR, 0.5);        

  &::after {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    border: darken($WHITE_COLOR, 20%) 0.6rem solid;
    border-top: $SECONDARY_COLOR 0.6rem solid;
    border-radius: 50%;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@import "utils/common";
