$PRIMARY_COLOR: #1875d1 !default;
$P_LIGHT_COLOR: #63a3ff !default;
$P_DARK_COLOR: #004a9f !default;
$SECONDARY_COLOR: #ffab40 !default;
$S_LIGHT_COLOR: #ffdd71 !default;
$S_DARK_COLOR: #c77c02 !default;
$BLACK_COLOR: #000a12 !default;
$WHITE_COLOR: #fffde7 !default;
