$breakpoints: (
  'mobile': 'screen and (max-width: 960px)',
  'desktop': 'screen and (min-width: 961px)'
) !default;
$grid-circle-radius: 25rem !default;
$desktop-navigation-width: 15rem !default;

$Z-BASE: 0 !default;
$Z-FLOW: 2000 !default;
$Z-DIALOG: 4000 !default;
$Z-OVERLAY: 6000 !default;
$Z-FRONT: 8000 !default;
